<div class="container">
<div class="d-flex justify-content-between mt-4">
  <h1>My Movie Lists</h1>
  <%= link_to new_list_path do %>
    <button class="btn btn-primary">Create List</button>
  <% end %>
</div>

<div class="row">
  <div class="d-flex col-8">
  <% @lists.each do |list| %>
    <div class="row">
      <div class="m-3 p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <%= link_to list_path(list) do %>
              <button class="btn btn-primary">View list</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-4">
    <div>
    <h2>Create New List</h2>
    <p></p>
    </div>
    <div>
    <%= render "form", list: @list %>
    </div>
  </div>
</div>
